
body{
    background-image:url("https://www.bauliusa.com/usa/contacts/d-contacts.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
     height:75;
  }
  h1{
    text-align:center;
    color:red;
    opacity:0.5;
    text-shadow: 2px 2px #ff0000;
  }
  h2{
    font-size:48px;
    color:red;
  }
  .icons {
    display: block;
    text-align: left;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 40px;
  }
  .vl{
    border-left: 6px white;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
  }